<section class="slider">
	<div class="flexslider">
	  	<ul class="slides">
	  		{% for slider in sliders %}
	    	<li>
    	    <img src="{{ asset('/uploads/sliders/') }}{{ slider.image }}" />
    		</li>
    		{% endfor %}
	  	</ul>
	</div>
</section>