.product-body{
        text-align: center;
    }
.loader {
    margin-left: 50%;
    margin-right: 50%;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #39b54a;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.hide-img-logo{
    width: 60px;
}
.text-uppercase{
    
text-transform: capitalize;}
.user{
    width: 212px;
}
.hide-logo{
    margin-left: -64px;
    width: 60px;
}
.hide-search{
    max-width: 617px;
    width: 508px;
    margin-left: 322px;
}
.hide-cart{
    margin-right: -47px;
}
.hide-user{
    width: 177px;
    margin-right: -17px;
}
.sticky {
    z-index: 300;
    margin-top: -32px;
    position: fixed;
    width: 100%;
    box-shadow: 0 7px 7px 0 rgba(0,0,0,.15);
}

.menu-nav{
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.menu-list{
    display: none;
}
.home-wrap{
    position: relative;
    top: -81px;
}
.bouton-gris{
    background-color: #FFF;
    color: #39b54a;
    /* border: 1px solid #78909c; */
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 19px;
    position: relative;
    bottom: 2px;
}
.bouton-gris:hover{
    background-color: #357d3f;
    color: #FFF;
    text-decoration: none;
    padding: 2px 10px;
    border-radius: 20px;
}
.category-nav{
    border-bottom: 1px solid #78909c;
}
.container{
    margin-bottom: 30px;
}
.primary-btn{
    background-color: #39b54a;
}
.primary-btn:hover{
    background-color: #00e676;
    color: #fff;
}
.header-cart .header-btns-icon .qty{
    background-color: #39b54a;
}
.category-nav .category-header{
    background-color: #39b54a;
}
.noUi-connect{
    background: #39b54a;
}
.noUi-horizontal{
    height: 10px;
}
.noUi-horizontal .noUi-handle {
    width: 14px;
    height: 21px;
    left: -8px;
    top: -6px;
    background: #eee;
    border: 1px solid #ccc;
}
.noUi-handle:after, .noUi-handle:before{
    background: transparent;
}
.noUi-value-horizontal {
    top: 20px;
}
.filter-bloc{
    top: 59px;
    position: relative;
}
.list-products{
    padding-left: 37px;
}
.img-product-filter{
    height: 191px;
    margin-top: 35px;
    width: 100%;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #39b54a;
    border-color: #39b54a;
}
.pagination>.disabled>a,.pagination>li>a, .pagination>li>span{
    color: #39b54a;
    border: 1px solid #39b54a;
}
.pagination>li>a, .pagination>li>span {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.cover-store{
    height: 300px;width: 100%;margin-bottom: 10px;
}
.logo-store{
    height: 250px;width: 250px;border-radius: 50%;border: 6px solid #fff;position: relative;
}
.bloc-logo-store{
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inscription-form{
    margin-left: 30%;margin-right: 30%;margin-top: 50px;
}
.slider-bloc{
    height: 373px;
    width: 930px !important;
}
.category-list .dropdown, .category-list .dropup {
    position: initial;
}
.custom-menu {
    -webkit-transition: 0s all;
    transition: 0s all;
}
.list-links li>a{
    text-transform: inherit;
}
.list-links .list-links-title{
    font-size: 14px;
}
.categories-sliders-bloc{
    
background-color: #fff;
    
padding-top: 20px;
    
width: 76%;
    
height: 416px;
    
position: relative;
    
left: 11%;
    
margin-bottom: 53px;
    
border: 1px solid #f9f2f2;
    
/* border-radius: 20px; */
    
box-shadow: 1px 2px 9px 0px #ddd;
}
.categorie-products{
    background-color: #fff;
    padding-top: 20px;
    width: 80%;
    position: relative;
    left: 10%;
    margin-top: 0;
    height: 383px;
    margin-bottom: 35px;
    border: 1px solid #e5e4e4;
    border-radius: 0px;
    /* box-shadow: 1px 2px 9px 0px #ddd; */
}
.categorie-products-container{
    margin-left: inherit;
    width: 100%;
}
.categorie-products-container .slick-list{
    /* left: 3%; */
    bottom: 46px;
    width: 94%;
}
.categorie-products-container .section-title{
    padding: 0px 22px;
    padding-bottom: 10px;
    background-color: #39b54a;
    position: relative;
    bottom: 35px;
    border-radius: 0;
    height: 48px;
    padding-top: 12px;
    width: 100%;
}
.categorie-products-container .section-title h3{
    color: #FFF;
font-weight: 100;}
.section-banners{
    width: 76%;
    left: 11%;
    position: relative;
    margin-bottom: 82px;
}
.breadcrumb{
    display: block;
}
.list-products-container{

margin-left: 5%;

width: 91%;
}
.product{
    
}
.product.product-single{

height: 291px !important;
}
.slick-track{
    width: inherit;
}
@media screen and (max-width: 450px){
    .category-nav{
        display: block;
    }
    .categorie-products-container .slick-track {
        position: relative;
        /* left: 10%; */
        width: 100% !important;
    }
    .categorie-products-container .section-title h3 {
        color: #FFF;
        position: relative;
        /* bottom: 68px; */
        font-size: 17px;
        float: left;
        top: 5px;
    }
    .categories-sliders-bloc{
        display: none;
    }
    #header {
        padding-top: 15px;
        padding-bottom: 10px;
        box-shadow: 10px 8px 24px -12px #ccc;
    }
    .bouton-gris.btn-1{
        display: none;
    }
    .bouton-gris.btn-2{
        /* display: block; */
        bottom: 0;
        left: 12px;
        /* font-size: 12px; */
        position: relative;
        padding: 0px 7px;
    }
    .bouton-gris.btn-2 i{
        
position: relative;
        
top: 3px;
    }
    .slider-bloc{
        height: 250px;
    }
    .category-nav .category-list {
        width: 100%;
    }
    .input-login{
        width: 100%;
    }
    .btn-login{
        width: 100%;
    }
    .product.product-single .product-thumb>img{
        width: 93%;
        position: relative;
        left: 4%;
        margin-top: 5px;
        height: 126px;
    }
    .filter-bloc, .filter-price{
        display: none;
    }
    .mobile-filter{
        display: block;
        background-color: #fff;
        padding-bottom: 10px;
        box-shadow: 5px #ccc;
        z-index: 999;
    }
    #price-slider{
        width: 84%;
        margin-left: 8%;
    }
    .sticky {
        position: fixed;
        top: 32px;
        left: 6px;
        width: 69%;
        background: #fff;
        height: 56px;
    }
    .cover-store{
        height: 150px;
        width: 100%;
        margin-bottom: -41px;
    }
    .bloc-logo-store {
        position: relative;
        top: 54%;
        left: 50%;
        /* transform: translate(-50%, -50%); */
    }
    .header-search{
        width: 104%;
        max-width: 600px;
    }
    .header-btns{
        position: relative;
        top: -200px;
        left: 220px;
        width: 50%;
        height: 10%;
    }
    .header-logo .logo>img {
        width: 100%;
        height: 47px;
        /* max-height: 46px; */
    }
    #header .categories{
        display: none;
    }
    #header{
        height: 146px;
    }
    .inscription-form{
        margin: 0;
    }
    .category-nav {
        border-bottom: 0px solid #78909c;
        display: none;
    }
    #list-produits .col-xs-6{
        width: 50%;
        padding-right: 11px;
        padding-left: 18px;
    }
    .logo-store {
        position: relative;
        top: 50px;
        height: 100px;
        width: 100px;
    }
    .search-input{
        width: 85%;
    }
    .header-search>form .search-btn {
        width: 12%;
    }
    .product.product-details .product-name{

        font-size: 26px;

        text-align: center;

        position: relative;

        bottom: 638px;

        /* top: 0; */

    }
    .price-skew{
        display: none;
    }
    .price-skew-mobile{
        display: inline-block;
        /* padding-left: 30px; */
        /* padding-right: 30px; */
        height: 50px;
        font-size: 37px;
        font-weight: bold;
        line-height: 53px;
        color: #fff;
        color: #39b54a;
        font-family: arial;
        /* background: #fdd835; */
        text-align: center;
        position: relative;
        border-radius: 45px;
        bottom: 284px;
        /* width: 64%; */
    }
    .span-price {
        display: inline-block;
        width: -1%;
        /* height: 100%; */
        /* transform: skew(20deg); */
        /* -webkit-transform: skew(20deg); */
        /* background: #fdd835; */
        /* position: absolute; */
        /* left: 5px; */
        /* top: 0; */
        display: none;
    }
    .add-to-cart{

        /* font-size: 15px; */

        /* position: relative; */

        bottom: 6px;
    }
    .banner>img {
        width: 100%;
        height: 196px !important;
    }
    .categorie-products {
        background-color: #fff;
        padding-top: 20px;
        width: 98%;
        position: relative;
        left: 5px;
        margin-top: 85px;
        height: 389px;
        margin-bottom: 35px;
        border: 1px solid #e5e4e4;
        border-radius: 0px;
        /* box-shadow: 1px 2px 9px 0px #ddd; */
    }
    .quick-view{
        width: 73px;
    }
    .section-banners {
        width: 99%;
        left: 1%;
        position: relative;
    }
    .product-view>.global-img{
        height: 300px !important;
    }
    .product-details .slick-list{
        height: inherit !important;
    }
    .product-details .badge{
        
        position: relative;
                
        bottom: 682px;
                
        font-size: 12px !important;
                
        text-align: center;
    }
    .products-details .content{
        text-align: -webkit-center;
    }
    .badge-bloc{
        text-align: center;
    }
    .other-products {
        background-color: #fff;
        padding-top: 0;
        width: 96%;
        position: relative;
        left: 3%;
        margin-top: 0;
        height: auto;
        margin-bottom: 35px;
        border: 1px solid #ccc;
        padding-bottom: 0;
    }
    .product.product-single{
        
        height: 270px !important;
    }
    .section-title {
        position: relative;
        margin-bottom: 15px;
        margin-top: 15px;
        border-bottom: 1px solid #DADADA;
        text-align: center;
    }
    .section.product{

        padding-bottom: 0;

    }
    .section.product .container{
        
        margin-bottom: 0;
    }
    .section.product .content{
        
        text-align: -webkit-center;
    }
    .bloc-btn-chart{
        
/* position: inherit; */
        
/* left: inherit; */
        
/* right: inherit; */
        
text-align: center;
    }
    .slick-track {
        position: relative;
        top: 0;
        left: 0;
        display: inline-flex !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .categorie-products-container .slick-list {
        left: 13%;
        bottom: 54px;
        /* width: 94%; */
    }
    .categorie-products-container .slick-list{
        width: fit-content;
    }
    .slick-prev, .slick-next {
        width: 40px;
        height: 40px;
        background: #366534;
        opacity: 0.5;
        border-radius: 56px;
        z-index: 22;
    }
    .slick-next {
        width: 40px;
        height: 40px;
        background: #30323A;
        border-radius: 56px;
        z-index: 22;
        /* position: relative; */
        /* top: 0; */
        right: 0 !important;
        left: 303px;
    }
    .slick-prev {
        left: 28px;
    }
    .categorie-products-container .product.product-single {
        height: 315px !important;
    }
}
@media screen and (min-width: 450px){
    .section.product .content{
        
height: 325px;
    }
    .bloc-btn-chart{

text-align: end;

position: relative;

top: 0;

right: -14px;

}
    .badge-bloc{
        text-align: right;
    }
    .quick-view{
        width: 73px;
    }
    .price-skew-mobile{
        display: none;
    }
    .header-search>form .search-input
    .header-search>form .search-input::placeholder {
      color: blue;
      font-size: 1.5em;
    }
    .category-nav{
        display: none;
    }
    .home-category .category-nav{
        display: block;
    }
    .header-container{
        position: relative;
        bottom: 20px;
    margin-left: inherit;margin-right: inherit;width: 100%;}
    .categorie-products-container .slick-track{
            
position: relative;
            
left: 2.5%;
            
width: 100% !important;
    }
    .categories-sliders-bloc{
        display: block;
    }
    #header {
        padding-top: 36px;
        padding-bottom: 0px;
        margin-bottom: 55px;
        height: 103px;
        box-shadow: 10px 8px 24px -12px #ccc;
    }
    .bouton-gris.btn-2{
        display: none;
    }
    .bouton-gris.btn-1{
        display: block;
        bottom: 3px;
        font-size: 14px;
        padding: 5px 15px;
    }
    .input-login{
        width: 50%;
    }
    .header-search{
        max-width: 605px;
        width: 681px;
    position: relative;left: 31%;}
    .btn-login{
        width: 50%;
    }

}
@media screen and (min-width: 750px){
    #store{
        padding: 18px 71px;
    }
    .filter-bloc, .filter-price{
        display: block;
    }
    .mobile-filter{
        display: none;
    }
}
@media screen and (max-width: 450){
    
    .header-search{
        max-width: 605px;
        width: 427px;
    }
    .input-login {
        width: 100%;
    }
    .btn-login {
        width: 100%;
    }
    .register-link{
        width: 100%;
    }
}