{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Mot de passe oublié{% endblock %}
{% block body %}
<!-- NAVIGATION -->
<div id="navigation">
	<!-- container -->
	<div class="container">
		<div id="responsive-nav">
			<!-- NAVIGATION -->
			{{ render(controller('App\\Controller\\Front\\FrontController::navigation')) }}

			<!-- /NAVIGATION -->
		</div>
	</div>
	<!-- /container -->
</div>
<!-- /NAVIGATION -->
<!-- BREADCRUMB -->
<div id="breadcrumb">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="{{ path('index_page') }}">Accueil</a></li>
			<li class="active">Mot de passe oublié</li>
		</ul>
	</div>
</div>
<!-- /BREADCRUMB -->
<!-- section -->
<div class="section section-register">
    <!-- container -->
    <div class="container" style="font-size: 16px;">
		<p>
		Un e-mail a été envoyé. Il contient un lien sur lequel il vous faudra cliquer pour réinitialiser votre mot de passe.
		</p>
		<p>
        <b>Remarque :</b> Vous ne pouvez demander un nouveau mot de passe que toutes les 2 heures heures.
		</p>
		<p>
        Si vous ne recevez pas un email, vérifiez votre dossier spam ou essayez à nouveau.
		</p>
	</div>
</div>
{% endblock %}
