@font-face {
  font-family: Quicksand;
  src: url(/css/Quicksand-Regular.ttf) format("ttf");
}
html body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Quicksand;
  font-size: 14px;
  color: #333333;
}
#header {
  width: 100%;
  text-align: center;
  font-family: Quicksand;
  font-size: 30px;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(44, 39, 96, 1) 0%,
    rgba(75, 190, 207, 1) 100%
  );
}
#content {
  width: 100%;
  text-align: center;
  padding: 20px;
}
#title {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}
#progressText {
  margin-top: 15px;
}
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  width: 290px;
  height: 10px;
}
progress[value]::-webkit-progress-bar {
  border: 1px solid #cccccc;
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #2c2760, #4bbecf);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  background-color: #fff;
}
